package handler

import (
	"net/http"
	"github.com/labstack/echo/v4"
)

type {{ .MethodName }}Handler struct {}

func (h *{{ .MethodName }}Handler) {{ .MethodName }}({{ range $index, $arg := .Args }}{{ if eq $index 0 }}ctx echo.Context{{else}}, {{ $arg.Name }} {{ $arg.Type }} {{ end }}{{ end }}) error {
	// TODO: Implement your logic here
	// Example: return ctx.JSON(http.StatusOK, map[string]string{"message": "success"})
	return ctx.JSON(http.StatusOK, map[string]string{"message": "success"})
}